.upload-button{
    /* display: none; */
    padding: 5px 40px;
    border-radius: 100px;
    background-color: #000000;
    border: 1px solid #663399;
    color: #fdfdfd;
    box-shadow: 0 5px 50px #663399;
}

.upload-button:hover{
    background-color: #663399;
    color: #000000;
    transform: scale(1.05);
    border: 1px solid #663399;
    transition: all 0.5s ease;
    box-shadow: 0 5px 50px rgb(82, 15, 108);
}