.pdf-display{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 20px; */
    background-color: #84bcc6;
}