.pdf-display{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* padding: 20px; */
    /* background-color: #84bcc6; */
}

.pdf-upload-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 4px;
    width: 20%;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid #663399;
    color: #fdfdfd;
    box-shadow: 0 5px 50px #663399;
}

.pdf-upload-button:hover{
    background-color: #663399;
    color: #000000;
    transform: scale(1.05);
    border: 1px solid #663399;
    transition: all 0.5s ease;
    box-shadow: 0 5px 50px rgb(82, 15, 108);
}