# backend requirements
google-genai
python-dotenv
uvicorn
fastapi
# pydantic is not really needed if installed fastapi as fastapi installs it for you
pydantic
redis[hiredis]
python-multipart
ddgs
aiohttp[speedups]
sentence-transformers