.message-container {
  display: flex;
  text-align: left;
  width: 950px;
  height: fit-content;
  padding: 0.5rem 0.5rem;
  border-radius: 1.5rem;
  margin-bottom: 0.8rem;
  box-shadow: 0 7px 5px rebeccapurple;
}

.chat{
  scroll-behavior: smooth;
  overflow-y: auto;
  padding-left: 2.5rem;
  height: 700px;
  width: 1000px;
}

.text-container{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    padding: 0.4rem;
    word-break: break-all;
    flex-direction: row;
    gap: 0.5rem;
  }

  .text-icon{
    flex-shrink:0;
}
