.search-main-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    /* padding: 200px; */
    /* background-color: #2020f2; */
}


.search-bar-main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rebeccapurple;
    border: 1px solid #000000;
}

.search-bar-input{
    display: flex;
    /* padding: 10px; */
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    outline: none;
}

.search-bar-button{
    /* padding: 10px 10px; */
    border: none;
    border-radius: 100px;
    background-color: #000000;
    color: #000000;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}